body {
    margin: 0;
    font-family: "Montserrat", Sans-serif;
    scroll-behavior: smooth;
    background-color: #e0e0e0e2;
    color: #333;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #192939;
    color: #ecf0f1;
}

.nav {
    display: flex;
    padding: 2rem; 
    flex-wrap: wrap;
}

.nav-btn, input, .btn, .skill-item {
    border-radius: 12px;
    border-style: solid;
    border-color: #e08b93;
    border-width: thin;
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    color: #e08b93;
    font-weight: bold;
}

.nav-btn {
    border-style: none;
}

.nav-btn:hover, .btn:hover {
    border: none;
    color: #e08b93;
    background-color: #374352;
}

#hero, #skills, #projects, #form-style {
    display: flex;
    border: 1px solid #ffafb7;
    border-radius: 25px;
    padding: 2.5rem;
    margin: 6%;
    background-color: #f7f7f7e2;
    box-shadow: 0 4px 4px rgba(0,0,0,0.08);
}

#hero {
    flex-direction: row;
    font-weight: bold;
    line-height: 1.6;
}

.photo {
    max-width: 30%;
    margin-left: 3rem;
}

.photo img {
    width: 100%;
    height: auto;
}

#skills {
    flex-direction: column;
}

.skill-container {
    display: flex;
    justify-content: center;
}

.skill-item {
    font-weight: bold;
}

.bottom-text {
    text-align: right;
}

#projects {
    flex-direction: column;
}

.project-skill, .project-skill:hover {
    border-radius: 12px;
    border-style: solid;
    border-color: #e08b93;
    border-width: thin;
    color: #e08b93 !important;
    background-color: #f7f7f7e2 !important;
    margin: 0.5rem;
    box-shadow: 0 4px 4px rgba(0,0,0,0.08);
}

.card-container {
    display: flex;
    flex-direction: column;
    border-left: thin solid #e08b93;
}

.card {
    padding: 2rem;
    display: flex;
    flex-direction: row;
}

.description {
    padding-left: 4rem;
}

.ant-card {
    box-sizing: 'border-box';
    height: 100%;
    padding: 1rem !important;
    width: 300px !important;
    box-shadow: 0 4px 4px rgba(0,0,0,0.08);
}

.ant-card-body {
    padding: 1rem !important;
}

.ant-card-meta-description {
    padding: none !important;
}

#form-style {
    flex-direction: column;
}

.input, .input > label {
    padding: 1rem;
}

input, .skill-item {
    background-color: #fff2f4;
    box-shadow: 0 4px 4px rgba(0,0,0,0.08);
}

input:focus {
    outline: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem; 
    background-color: #192939;
    color: #e08b93;
}

.ant-btn-link {
    color: #e08b93 !important;
}
  
.ant-btn-icon svg {
    font-size: 1.8rem !important;
}

.dark-mode {
    background-color: #192939;
    color: #e08b93;

    #hero, #skills, #projects, #form-style, input, .skill-item {
        background-color: #374352;
    }

    input, .skill-item, .project-skill {
        background-color: #556679;
    }

    input::placeholder{
        color: #e08b93;
    }

    .project-skill, .project-skill:hover {
        background-color: #374352 !important;
    }

}

@media only screen and (max-width: 900px) {
    .card {
        flex-direction: column;
    }
}
  
@media only screen and (max-width: 700px) {
    .photo {
        display: none;
    }  

    .description {
        padding-left: 0;
    }

}

@media only screen and (max-width: 500px) {
    .ant-card{
        width: 200px !important;
    }
}